@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Calvary Bible Church Scheduling Application</h1>
    <p class="lead">Welcome to the calendar scheduling application for CBC GV.</p>
    <p><a href="https://gvcbc.org/" class="btn btn-primary btn-lg">Learn more about CBC Grass Valley &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Calendar</h2>
        <p>
            Choose this for scheduling your time to serve.
        </p>
        <p><a class="btn btn-default" href="http://rjlapps.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Serving</h2>
        <p>An explanation of our roles, expectations and attitudes toward serving Jesus.</p>
        <p><a class="btn btn-default" href="../home/about">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Info</h2>
        <p>Get leadership contact info</p>
        <p><a class="btn btn-default" href="../home/contact">Learn more &raquo;</a></p>
    </div>
</div>